/*Para todo*/
* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  /*Margenes*/
  padding: 25px;
}

input {
  /* color: rgb(12, 14, 12);*/
  color: #0D9AF5; 
  font-size: 1.2rem;
  padding-left: 10px;
  width: 50%;
}

.title {
  color: #2E68E6;
  text-shadow: 5px 2px 3px #FFC300 ;
  text-transform: capitalize;
  font-size: 60px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* card-items*/
.card-grid-items {
  align-content: center;
  border: 2px solid grey;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 15px;
  overflow: hidden;
}

.card-grid-items p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: start;
}

.card-grid-items img {
  max-width: 250px;
  max-height: 250px;

  min-width: 150px;
  min-height: 150px;

  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/*----------------card-items -------------------*/

.item {
  width: 70%;
  box-shadow: 10px 15px 50px 20px rgba(2, 33, 68, 0.87);
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.item-body {
  width: fit-content;
}

.img-thumbnail {
  box-shadow: 0px 5px 10px #212121;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.btn {
  border-radius: 0;
}

.cart {
  background-color: #212121;
  color: white;
  font-size: 12px;
  font-weight: 900;
  width: 100%;
  height: 39px;
  padding-top: 10px;
  box-shadow: 0px 5px 10px #212121;
}
